<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>SI.NO</th>
            <th>Patient Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Date</th>
            <th>Time</th>
            <th>status</th>
            <th>booked date</th>
            <th>Prescription</th>
        </tr>
        {% for i in appoinment %}
        <tr>
        <td>{{forloop.counter}}</td>
            <td>{{i.PATIENTID.name}}</td>
            <td>{{i.PATIENTID.age}}</td>
            <td>{{i.PATIENTID.sex}}</td>
            <td>{{i.date}}</td>
            <td>{{i.time}}</td>
            <td>{{i.status}}</td>
            <td>{{i.bookingdate}}</td>
            <td><a href="/Addprescription/{{i.id}}">add prescription</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>