<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       
        <input type="file"  name="image"><br><br>
        <input type="text" placeholder="Doctor Name" name="name"><br><br>
        <input type="text" placeholder="Phone number" name="phonenumber"><br><br>
        <input type="text" placeholder="Age" name="age"><br><br>
        <input type="radio"  value="Male" name="sex">Male <br>
        <input type="radio"  value="Female" name="sex">Female<br><br>
        <input type="text" placeholder="E-mail" name="email" ><br><br>
        <input type="password" placeholder="Password" name="password" ><br><br>
        <input type="text" placeholder="Qualification" name="qualification"><br><br>
        <input type="text" placeholder="Experience" name="experience"><br><br>
        <button type="submit">submit</button>
    </form>  
</body>
</html>