<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>SI.NO</th>
            <th>NAME</th>
            <th>PHONE NUMBER</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>STATUS</th>
            <th>Actions</th>
        </tr>
        {% for i in booking %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.CaretakerTable.name}}</td>
            <td>{{i.CaretakerTable.phonenumber}}</td>
            <td>{{i.SLOT.date}}</td>
            <td>{{i.SLOT.time}}</td>
            <td>{{i.status  }}</td>
            
        <td>
          {% if i.status == "pending" %}
           <a href="/accept/{{i.id}}"><button>accept</button></a>
                <a href="/reject/{{i.id}}"><button>reject</button></a>

            {% elif i.status == "rejected" %}
                <a href="/accept/{{i.id}}"><button>accept</button></a>

            {% else %}
                <a href="/reject/{{i.id}}"><button>reject</button></a>
            {% endif %}
        </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>